<% include ./partials/_header %>
<main class='mx-auto main-section'>
  <div class='d-flex justify-content-center mb-5'>
    <button class='btn btn-success btn-lg' type="button" data-toggle="collapse" data-target="#map-id" aria-expanded="false" aria-controls="map-id">Create/Join New  Map</button>
  </div>

  <div class="collapse" id="map-id">
      <div class='row d-flex justify-content-center'>
          <form class="form-inline map-id-submit" >
              <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id='id-input' name='map-id' placeholder="Enter map id">
              </div>
              <button type="submit" class="btn btn-success mb-2">Join/Create map</button>
          </form>
      </div>
  </div>




<div class='map-container'>
  <section class='map-element'>
    <p class='map-name'>map name: ${map.name}</p>
    <div class="row map-row">
        <div class="map col-6">
        </div>
        <div class='col-6 marked-places'>
          <section class='row marked-place'>
            <div class='place-imgs col-3'><img class='map-img' src="/images/example.jpg"></div>
            <div class='place-details col-9'>
              <button type="button" class="btn btn-danger float-right delete-places"><i class="fas fa-times"></i></button>
              <p  class='place-name'>${place.name}</p>
              <p  class='place-rating'>rating: ${place.rating}</p>
              <p class='place-address'>address: ${place.address}</p>
            </div>
          </section>
        </div>
    </div>
      <div class='edit d-flex flex-row-reverse'>
          <div class='mapid d-none'>${map.id}</div>
          <button class="btn btn-primary mr-3 mt-2" type="button" data-toggle="collapse" data-target="#searchForm" aria-expanded="false" aria-controls="searchForm">
              Edit
          </button>
      </div>
        <div class="collapse" id="searchForm">
          <div class='row'>
            <form class='col-5 findPlaces'>
                <div class="form-group">
                  <p>Find Places</p>
                  <input type="text" class="form-control textQuery" name='textQuery' placeholder="Enter places">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
      </div>
  </section>
</div>
</main>


    <% include ./partials/_footer %>
