<% include ./partials/_header %>
<main class='mx-auto main-section'>
  <div class='d-flex justify-content-center mb-5'>
    <button class='btn btn-success btn-lg' type="button" data-toggle="collapse" data-target="#map-id" aria-expanded="false" aria-controls="map-id">Create/Join New  Map</button>
  </div>

  <div class="collapse" id="map-id">
      <div class='row d-flex justify-content-center'>
          <form class="form-inline map-id-submit" >
              <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id='id-input' name='map-id' placeholder="Enter map name">
                <input type="text" class="form-control" id='location-input' name='map-location' placeholder="Enter location">
              </div>
              <button type="submit" class="btn btn-success mb-2" id='id-submit'>Create map</button>
          </form>
      </div>
  </div>




<div class='map-container'>
</div>
</main>


<% include ./partials/_footer %>
