html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
}

.map-row {
  height: 100%
}


.marked-places {
  overflow-y:scroll;
  min-height: 300px
}

.display-places-options {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  top: 0%;
  left: 0%;
}


.place-imgs {
  /* background-image: url("/images/example.jpg"); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 20px; */
  position:relative;
  overflow:hidden;
  max-height: 120px;
}

.place-viewer {
  width: 80%;
  height: 62%;
  margin-top: 10%;
  overflow-x:scroll;
}

.close-display-layer {
  z-index: 1;
  position: relative;
}

.add-place {
  position: absolute;
  bottom: 3px;
  right: 5px;
}

.card {
  width: 18rem;
  min-width: 18rem !important;
  max-width: 18rem !important;
  min-height: 31rem !important;
  max-height: 31rem !important;
}

.card-img-top{
  object-fit: cover center;
  height: 205px;
}


nav {
  background-color: rgba(0, 0, 0, 0.8)
}

main {
  margin-top: 120px;
  width: 95%;
  height: 100%;
}

.map-row {
  width: 100%;
}


.display-username {
  color: aliceblue !important;
}


.map-img {
  object-fit: cover;
  width: 100%;
  position:relative;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%);
  min-height: 120px;
}
